html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* RESET FINSIHED */
html {
    background-color: aliceblue;
}
h1{
    color:lavender;
    background-color: mediumblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 2px;
}
#top-nav{
    color: white;
    background-color: mediumblue;
    padding-bottom: 2px;
}
#top-nav button{
    font-size: 1.4rem;
    padding: 5px;
    margin: 1px;
    min-height: 25px;
    background-color: #e0e0e0;
    border: #e0e0e0;
    border-radius: 5px;
}
h2{
    margin: 16px;
    /* padding: 2px; */
    /* background-color: mediumblue; */
    font-weight: bold;
    color: lavender;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#main-planner h2{
    color: white;
    background-color: purple;
}
#main-notes h2{
    background-color: orange;
}
main{
    background-color: #e0e0e0;
    border: 1px solid orange;
}

body {
    width: 320px;
    background-color: lightskyblue;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
}

h1,
h2,
h3,
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

button {
    padding: 5px;
}

#main-planner, #main-notes {
    display: flex;
    flex-direction: column;
}

.planner-div {
    /* display: flex;
    flex-direction: column; */
    /* min-height: 320px; */
}
main{
    min-height: 320px;
}

#planner-contacts-form *,
#planner-calendar-form * {
    width: 100%;
    display: auto;
    box-sizing: border-box;
}

.table-container table,
.table-container table td,
.table-container table th {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-container pre {
    /* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
    white-space: pre-wrap;
    font-size: 12px;
    word-break:break-all;
}

.table-container table {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    /* min-height: 100px; */
}

#contacts-table th,
#contacts-table td,
#calendar-table th,
#calendar-table td {
    display: none;
}

#calendar-table th:nth-of-type(1),
#calendar-table th:nth-of-type(3),
#calendar-table th:nth-of-type(6),
#calendar-table td:nth-of-type(1),
#calendar-table td:nth-of-type(3),
#calendar-table td:nth-of-type(6) {
    display: table-cell;
}

#contacts-table td:nth-of-type(1),
#contacts-table th:nth-of-type(1),
#contacts-table th:nth-of-type(4),
#contacts-table td:nth-of-type(4) {
    display: table-cell;
    /* max-width:7rem; */
    /* overflow-wrap:break-word; */
}

#contacts-table th:nth-of-type(3),
#contacts-table td:nth-of-type(3) {
    display: table-cell;
    /* max-width:5rem;
     overflow-wrap:break-word; */
}

#calendar-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#special-calendar{
    background-color: snow;
}
#calendar-date{
    display: none;
}
main h3{
    background-color:#e0e0e0;
}
.nested-menu:hover{
    color: snow;
    background-color: grey;
}