/* --------------tables app layout -------------------- */

/* -------------------general tables----------------------- */

thead {
    background-color: #E0E0E0;
}

tr:hover:not(#tables-table>thead>tr, #tables-table>tbody>tr, #tables-table>tfoot>tr, #calculator-table tr, #special-calendar tr) {
    background-color: white;
}

#tables-table th:hover:not(:first-of-type),
#tables-table td:first-of-type:hover {
    background-color: white;
}

th:hover {
    background-color: lightgrey;
}

.table-container {
    display: block;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

table {
    background-color: lightblue;
}

table {
    min-width: 100%;
}

tr {
    text-align: left;
    /* prevents collaps of row, acts like min-height in other elements */
    height: 1rem;
}

td {
    background-color: yellow;
}

#tables-table {
    display: block;
    margin: auto;
    /* background-color: lightblue; */
    min-width: 100%;
}

.tables-table-row-number {
    min-width: 1rem;
    text-align: center;
}


/* these 2 used together to apply min width to anything
in between first and last table header */

#tables-table th:not(:last-of-type) {
    /* background-color: red; */
    min-width: 5rem;
}

#tables-table th:first-of-type {
    min-width: 0;
}

#tables-table input[type="text"] {
    padding: 0;
    margin: 0;
    border: 0px solid orange;
}

#tables-table {
    border-spacing: 0;
    border-collapse: collapse;
    min-height: 150px;
}

#tables-table td:not(.tables-table-row-number) {
    padding: 0;
    border: 1px solid grey;
    background-color: white;
    border-radius: 0;
}


/* these 2 used together to apply min width to anything
in between first and last table header */

#tables-table td {
    /* max-width: 50px; */
    width: auto;
}

#add-column{
background-color:#BDBDBD;
}
#add-row:hover, #add-column:hover{
background-color:white;
border-radius:5px;
}

#main-tables-header-form input,
#main-tables-header-form select,
#main-tables-header-form button,
#main-tables-row-form select,
#main-tables-row-form button {
    width: 200px;
}

#add-column,
#add-row,
#blank-th {
    width: auto;
}

#tables-table input {
    /* background-color: aqua; */
    width: 100%;
}